.active {
  color: red;
}

#navbar {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

/**/
#signup{
  justify-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**/
.boxes{
  display: inline-flex;
}

